.top-nav{
    box-shadow: 0 1px 2px black;
}


.left-nav a{
    width: 80%;
    height: 40px;
    text-align: left;
}
.left-nav{
    position: fixed;
    height: 100%;
    width: 25%;
    box-shadow: 1.5px 1px 3px black;
}
.left-nav nav{
    height: 100%;
}
.left-nav ul{
    height: 100%;
    width: 100%;
}

.body{
    margin-left: 25%;
    margin-top: 55px;
}

body{
    background: darkgray;
}

.div_status{
    cursor: pointer;
}