.home{
    background-image: url("../images/screenish_time_tracking_with_screenshots.jpg");
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}