{% load static %}
{% csrf_token %}
<div class="modal" id="{% block modal_id %}add_goal{% endblock %}">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">

            <div class="modal-header">
                <h2 class="text-white">Add goal</h2>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="form-group mb-0">
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text"> Title </span>
                        </div>
                        <input type="text" class="form-control title" name="title" placeholder="Goal"
                            value="{% block goal_title %}{% endblock %}"
                        >
                    </div>

                </div>
                <span id="title_error" class="text-danger"></span>

                <div class="form-group mt-3">
                    <select class="custom-select priority" name="priority">
                        {% block goal_priority %}
                            <option value=0>Low</option>
                            <option value=1>Normal</option>
                            <option value=2>High</option>
                        {% endblock %}
                    </select>
                </div>

            </div>

            <div class="modal-footer">
                <div class="form-group mx-auto">
                    <input type="submit" onclick="
                            {% block goal_function %}add_goal({% url 'board:add_goal' %}, '#add_goal'){% endblock %}"
                           value="Save" class="btn btn-outline-primary add_task_bth" style="width: 100px">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'tasks_board/js/base.js' %}"></script>
