{% load static %}
{% csrf_token %}
<div class="modal" id=
        {% block modal_id %}
            "add_task"
        {% endblock %}
     >
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h2 class="text-white">Add task</h2>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="form-group mb-0">
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text"> Title </span>
                        </div>
                        <input type="text" class="form-control title" name="title" placeholder="Task"
                            {% block task_title %}
                            {% endblock %}
                        >
                    </div>
                </div>
                <span id="title_error" class="text-danger"></span>


                <div class="form-group mt-3 mb-0">
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text"> Date </span>
                        </div>
                        <input type="text" class="form-control date" name="date"
                                {% block task_day %}
                                    {% if main_task %}
                                        value="{{ main_task.day.isoformat }}"
                                    {% else %}
                                        value="{% now "Y-m-d" %}"
                                    {% endif %}
                                {% endblock %}
                        >
                    </div>
                    <span id="date_error" class="text-danger ml-auto"></span>
                </div>

                <div class="form-group mt-3">
                    <select class="custom-select priority" name="priority">
                        {% block task_priority %}
                            <option selected value="">Priority</option>
                            <option value=0>Low</option>
                            <option value=1>Normal</option>
                            <option value=2>High</option>
                        {% endblock %}
                    </select>
                </div>

                <div class="form-group">
                    <select class="custom-select goal" name="goal">
                        {% block goals %}
                            <option selected value="">Goal</option>
                            {% for goal in goals %}
                                <option value={{ goal.id }}>{{ goal }}</option>
                            {% endfor %}
                        {% endblock %}
                    </select>
                </div>
                <input class="main_task" type="hidden" name="main_task" value={{ main_task.id }}>
            </div>

            <div class="modal-footer">
                <div class="form-group mx-auto">
                    <input type="submit"
                           {% block task_function %}
                               onclick="add_task({% url 'board:add_task' %}, '#add_task')"
                           {% endblock %}
                           value="Save" class="btn btn-outline-primary add_task_bth" style="width: 100px">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'tasks_board/js/base.js' %}"></script>
