{% load static %}
{% csrf_token %}
<div class="modal" id="add_task">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">

                <div class="form-group">
                    <div class="form-check">
                        <div class="form-check-label font-weight-bold">
                            <input type="checkbox" class="form-check-input " id="status" name="status">Done
                        </div>
                    </div>
                </div>

                <button class="close" data-dismiss="modal">&times;</button>

            </div>

            <div class="modal-body">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text"> Title </span>
                        </div>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Task">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text"> Date </span>
                        </div>
                        <input type="text" class="form-control" id="date" name="date" value="{% now "Y-m-d" %}">
                    </div>
                    <span id="date_error" class="text-danger ml-auto"></span>
                </div>

                <div class="form-group">
                    <select class="custom-select" name="priority" id="priority">
                        <option selected value="">Priority</option>
                        <option value=0>Low</option>
                        <option value=1>Normal</option>
                        <option value=2>High</option>
                    </select>
                </div>

                <div class="form-group">
                    <select class="custom-select" name="goal" id="goal">
                        <option selected value="">Goal</option>
                        {% for goal in goals %}
                            <option value={{ goal.id }}>{{ goal }}</option>
                        {% endfor %}

                    </select>
                </div>
                <input type="hidden" name="main_task" id="main_task" value={{ main_task.id }}>
            </div>

            <div class="modal-footer">
                <div class="form-group mx-auto">
                    <input type="submit" onclick="add_task({% url 'board:add_task' %})"
                           value="Save" class="btn btn-outline-primary add_task_bth" style="width: 100px">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'tasks_board/js/base.js' %}"></script>
