{% extends 'tasks_board/base.html' %}
{% load static %}

{% block title %}
    All Tasks
{% endblock %}


{% block tasks_link_class %}active{% endblock %}
{% block body %}
    <div class="p-5 text-center">
        {% for task in tasks %}
            <h6>{{ task.title }}</h6>
            <h6>{{ task.date }}</h6>
            <h6>{{ task.get_priority }}</h6>
            <h6>{{ task.goal }}</h6>
            <h6>{{ task.status }}</h6>
        {% endfor %}
        {% include 'tasks_board/add_task.html' with goals=goals %}
        <button class="btn btn-outline-primary" data-toggle="modal" data-target="#add_task">
            Add Task
        </button>
    </div>

{% endblock %}