{% extends 'tasks_board/base.html' %}
{% load static %}

{% block title %}
    All Tasks
{% endblock %}


{% block tasks_link_class %}active{% endblock %}
{% block body %}
    <div class="p-5 text-center">
        {% for task in tasks %}
            <h5>{{ task.title }}</h5>
            <h5>{{ task.date }}</h5>
            <h5>{{ task.priority }}</h5>
            <h5>{{ task.goal }}</h5>
            <h5>{{ task.status }}</h5>
        {% endfor %}
        {% include 'tasks_board/add_task.html' %}
        <button class="btn btn-outline-primary" data-toggle="modal" data-target="#add_task">
            Add Task
        </button>
    </div>

{% endblock %}