{% extends 'tasks_board/base.html' %}

{% block body %}
    {% include 'tasks_board/add_goal_task.html' with goal=goal %}
    <div class="px-5 d-flex justify-content-around">
        <div class="text-center">
            <h1>{{ goal.title }}</h1>
        </div>
        <div>
            <button class="btn btn-outline-success" data-toggle="modal" data-target="#add_task">Add Task</button>
        </div>

        <div>

        </div>

    </div>
    <div class="goals_tasks p-5">
        {% for task in goal.tasks %}
            {% include 'tasks_board/task_column.html' with task=task %}
        {% endfor %}
    </div>
{% endblock %}