{% extends 'tasks_board/base.html' %}

{% block button_back %}
{% endblock %}

{% block body %}
    <div class="p-5">
        <div class="d-flex mb-5">
            <div>
                <svg width="150px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="id-card" class="svg-inline--fa fa-id-card fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                    <path fill="currentColor" d="M528 32H48C21.5 32 0 53.5 0 80v16h576V80c0-26.5-21.5-48-48-48zM0 432c0 26.5 21.5 48 48 48h480c26.5 0 48-21.5 48-48V128H0v304zm352-232c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16zm0 64c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16zm0 64c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16zM176 192c35.3 0 64 28.7 64 64s-28.7 64-64 64-64-28.7-64-64 28.7-64 64-64zM67.1 396.2C75.5 370.5 99.6 352 128 352h8.2c12.3 5.1 25.7 8 39.8 8s27.6-2.9 39.8-8h8.2c28.4 0 52.5 18.5 60.9 44.2 3.2 9.9-5.2 19.8-15.6 19.8H82.7c-10.4 0-18.8-10-15.6-19.8z"></path>
                </svg>
            </div>
            <div class="ml-5">
                <h1 class="display-3 ml-5 mt-5">{{ user.username }}</h1>
            </div>
        </div>

        <div class="border border-dark mt-5 text-center">
            <h1 class="ml-3 m-4 text-left">Statistic</h1>
            {{ statistic.today_tasks.modal_html|safe|escape }}
            <div class="row">
                <div class="col">
                    <a href="" data-toggle="modal" data-target="{{ statistic.today_tasks.modal_id }}">
                        {{ statistic.today_tasks.name }}
                    </a>
                </div>
                <div class="col">{{ statistic.today_tasks.done }}/{{ statistic.today_tasks.total_amount }}</div>
                <div class="col">{{ statistic.today_tasks.percent }}%</div>
            </div>
            <div class="row">
                <div class="col">{{ statistic.all_tasks.name }}</div>
                <div class="col">{{ statistic.all_tasks.done }}/{{ statistic.all_tasks.total_amount }}</div>
                <div class="col">{{ statistic.all_tasks.percent }}%</div>
            </div>
            <h4 class="ml-3 m-4 text-left">Goals</h4>
            {% for category in statistic.goals_tasks %}
                <div class="row">
                    <div class="col">{{ category.name }}</div>
                    <div class="col">{{ category.done }}/{{ category.total_amount }}</div>
                    <div class="col">{{ category.percent }}%</div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}