<div class="task_link d-flex">
    <a class="text-dark d-flex flex-fill" href="{% url 'board:task' task.id %}">
        <div class="m-3">
            {% include 'tasks_board/task_status.html' with task=task %}
        </div>
        <div class="flex-fill">
            <div class="d-flex justify-content-between mt-2 ml-5 header">
                <h6>{{ task.title }}</h6>

            </div>
            <div class="small text-right mr-5 day">{{ task.day|date:"M d" }} </div>
        </div>

    </a>
</div>
<hr>