{% extends 'tasks_board/base.html' %}
{% load static %}

{% block title %}
    All Tasks
{% endblock %}


{% block tasks_link_class %}active{% endblock %}
{% block body %}
    {% include 'tasks_board/add_task.html' with goals=goals %}
    <button class="btn btn-outline-primary" data-toggle="modal" data-target="#add_task">
        Add Task
    </button>
    <div class="container tasks mt-3 px-5">
        <hr>
        {% for task in tasks %}
            {% include 'tasks_board/task_column.html' with task=task %}
        {% endfor %}
    </div>
{% endblock %}